<fieldset data-id="{{ id }}" class="nomargin sky-form">

    <div class="row">
        <div class="form-group">

            <div class="col-md-6 col-sm-6">
                <label>First Name*</label>
                <label class="input margin-bottom-10">
                    <i class="ico-append fa fa-user"></i>
                    <div class="form-group"><input type="text" id="user_edit_address_delivery_form_firstName" name="user_edit_address_delivery_form[firstName]" required="required" class="form-control" value="{{ app.user.deliveryAddress[id]["firstName"] }}"></div>
                </label>
            </div>

            <div class="col-md-6 col-sm-6">
                <label>Last Name*</label>
                <label class="input margin-bottom-10">
                    <i class="ico-append fa fa-user"></i>
                    <div class="form-group"><input type="text" id="user_edit_address_delivery_form_lastName" name="user_edit_address_delivery_form[lastName]" required="required" class="form-control" value="{{ app.user.deliveryAddress[id]["lastName"] }}"></div>
                </label>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="form-group">

            <div class="col-md-6 col-sm-6">
                <label>Company</label>
                <label class="input margin-bottom-10">
                    <i class="ico-append fa fa-user"></i>
                    <div class="form-group"><input type="text" id="user_edit_address_delivery_form_company" name="user_edit_address_delivery_form[company]" class="form-control" value="{{ app.user.deliveryAddress[id]["company"] }}"></div>
                </label>
            </div>

            <div class="col-md-6 col-sm-6">
                <label>Phone*</label>
                <label class="input margin-bottom-10">
                    <i class="ico-append fa fa-phone"></i>
                    <div class="form-group"><input type="number" id="user_edit_address_delivery_form_phone" name="user_edit_address_delivery_form[phone]" required="required" class="form-control" value="{{ app.user.deliveryAddress[id]["phone"] }}"></div>
                </label>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="form-group">

            <div class="col-md-12 col-sm-12">
                <label>Address*</label>
                <label class="input margin-bottom-10">
                    <i class="ico-append fa fa-envelope"></i>
                    <div class="form-group"><input type="text" id="user_edit_address_delivery_form_address1" name="user_edit_address_delivery_form[address1]" required="required" placeholder="First line of address*" class="form-control" value="{{ app.user.deliveryAddress[id]["address1"] }}"></div>
                </label>
            </div>

            <div class="col-md-12 col-sm-12">
                <label class="input margin-bottom-10">
                    <i class="ico-append fa fa-envelope"></i>
                    <div class="form-group"><input type="text" id="user_edit_address_delivery_form_address2" name="user_edit_address_delivery_form[address2]" placeholder="Second line of address" class="form-control" value="{{ app.user.deliveryAddress[id]["address2"] }}"></div>
                </label>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="form-group">

            <div class="col-md-6 col-sm-6">
                <label>City*</label>
                <label class="input margin-bottom-10">
                    <i class="ico-append fa fa-envelope"></i>
                    <div class="form-group"><input type="text" id="user_edit_address_delivery_form_city" name="user_edit_address_delivery_form[city]" required="required" class="form-control" value="{{ app.user.deliveryAddress[id]["city"] }}"></div>
                </label>
            </div>

            <div class="col-md-6 col-sm-6 color">
                <label>Postcode*</label>
                <label class="input margin-bottom-10">
                    <i class="ico-append fa fa-envelope"></i>
                    <div class="form-group"><input type="text" id="user_edit_address_delivery_form_postcode" name="user_edit_address_delivery_form[postcode]" required="required" class="uppercase form-control" minlength="6" maxlength="8" value="{{ app.user.deliveryAddress[id]["postcode"] }}"></div>
                </label>
            </div>

        </div>
    </div>

    <hr>

</fieldset>

<div class="col-md-6 text-left">
    <a class="btn btn-danger" href="{{ path('delete_address_saved', {'id': id}) }}"><i class="fa fa-check"></i> Delete delivery address details</a>
</div>