{% extends 'base.html.twig' %}
{% block basket %}{% endblock %}
{% block sticky %}{% endblock %}
{% block body %}
    <div id="checkout">
        <section class="page-header page-header-xs">
            <div class="container">

                <h1>Checkout</h1>

                <!-- breadcrumbs -->
                <ol class="breadcrumb">
                    <li><a href="{{ path('index') }}">Home</a></li>
                    <li><a href="{{ path('checkout_delivery') }}">Checkout - Delivery</a></li>
                </ol><!-- /breadcrumbs -->

            </div>
        </section>
        <!-- /PAGE HEADER -->

        <!-- CART -->
        <section>
            <div id="beginning" class="container">

                <ul class="process-steps nav nav-justified">
                    <li>
                        <a href="{{ path('basket') }}"><i class="fa fa-shopping-cart"></i></a>
                        <h5>Basket</h5>
                    </li>
                    <li>
                        <a href="{{ path('checkout_invoice') }}#beginning"><i class="fa fa-file-text-o"></i></a>
                        <h5>Invoice Details</h5>
                    </li>
                    <li class="active">
                        <a href="{{ path('checkout_delivery') }}#beginning"><i class="fa fa-envelope-o margin-left-minus-six"></i></a>
                        <h5>Delivery Details</h5>
                    </li>
                    <li {% if not app.session.get('deliveryDetails') %}class="disabled js-disabled"{% endif %}>
                        <a href="{% if app.session.get('deliveryDetails') %}{{ path('checkout_review') }}#beginning{% else %}#{% endif %}"><i class="icon-ok"></i></a>
                        <h5>Review & Secure Payment</h5>
                    </li>
                </ul>

                <hr>

                <!-- CHECKOUT -->

                {{ form_start(formCheckoutDeliveryForm) }}

                <div class="col-lg-7 col-sm-7">

                    <div class="heading-title">
                        <h4>Delivery Details</h4><i class="size-11">* Required fields</i>
                        {% if not app.user %}
                            <div class="col-lg-6 col-sm-5 pull-right">
                                <a href="{{ path('security_login') }}">Login here if you have an account</a>
                            </div>
                        {% endif %}
                    </div>

                    <div class="row">

                        <div class="callout alert-default">

                            <div class="row">

                                <div class="col-md-4 col-sm-4 js-new-address"><!-- left text -->
                                    <label class="radio">
                                        <input type="radio"
                                               data-url="{{ path('change_address_entered_new_address') }}"
                                               name="radio-btn"
                                               value="1"
                                               checked="checked"
                                        >
                                        <i></i> USE New Address
                                    </label>
                                </div><!-- /left text -->

                                <div class="col-md-4 col-sm-4 js-invoice"><!-- left text -->
                                    <label class="radio">
                                        <input type="radio"
                                               data-url="{{ path('change_address_invoice_address') }}"
                                               name="radio-btn"
                                               value="0"
                                        >
                                        <i></i> USE Invoice Address
                                    </label>
                                </div><!-- /left text -->
                                {% if app.user %}
                                    {% if app.user.deliveryAddress|length %}
                                        <div class="col-md-4 col-sm-4 js-saved-address">
                                            <label class="radio">
                                                <input type="radio" name="radio-btn" value="0">
                                                <i></i> USE Saved Address
                                            </label>

                                            <select id="saved-addresses" title="saved-addresses" class="form-control select2" disabled>
                                                <option value="">--- Saved Addresses ---</option>
                                                {% for i in 0..app.user.deliveryAddress|length - 1 %}
                                                    <option value="{{ path('change_address_saved_address', {
                                                        id: i
                                                    }) }}">
                                                        {{ app.user.deliveryAddress[i]['firstName'] }}
                                                        {{ app.user.deliveryAddress[i]['lastName'] }},
                                                        {{ app.user.deliveryAddress[i]['address1'] }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}
                                {% endif %}

                            </div>

                        </div>

                    </div>

                    <!-- BILLING -->
                    <fieldset class="js-form-fields">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label>First Name *</label>
                                {{ form_row(formCheckoutDeliveryForm.firstName,
                                {'value' : deliveryDetails['deliveryAddress']['firstName'] is defined ? deliveryDetails['deliveryAddress']['firstName'] : "" }
                                ) }}
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label>Last Name *</label>
                                {{ form_row(formCheckoutDeliveryForm.lastName,
                                {'value' : deliveryDetails['deliveryAddress']['lastName'] is defined ? deliveryDetails['deliveryAddress']['lastName'] : "" }
                                ) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label>Phone *</label>
                                {{ form_row(formCheckoutDeliveryForm.phone,
                                {'value' : deliveryDetails['deliveryAddress']['phone'] is defined ? deliveryDetails['deliveryAddress']['phone'] : "" }
                                ) }}
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label>Company</label>
                                {{ form_row(formCheckoutDeliveryForm.company,
                                {'value' : deliveryDetails['deliveryAddress']['company'] is defined ? deliveryDetails['deliveryAddress']['company'] : "" }
                                ) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label>Address *</label>
                                {{ form_row(formCheckoutDeliveryForm.address1,
                                {'value' : deliveryDetails['deliveryAddress']['address1'] is defined ? deliveryDetails['deliveryAddress']['address1'] : "" }
                                ) }}

                                {{ form_row(formCheckoutDeliveryForm.address2,
                                {'value' : deliveryDetails['deliveryAddress']['address2'] is defined ? deliveryDetails['deliveryAddress']['address2'] : "" }
                                ) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label>City *</label>
                                {{ form_row(formCheckoutDeliveryForm.city,
                                {'value' : deliveryDetails['deliveryAddress']['city'] is defined ? deliveryDetails['deliveryAddress']['city'] : "" }
                                ) }}
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label>Postcode *</label>
                                {{ form_row(formCheckoutDeliveryForm.postcode,
                                {'value' : deliveryDetails['deliveryAddress']['postcode'] is defined ? deliveryDetails['deliveryAddress']['postcode'] : "" }
                                ) }}
                                <br>
                                <div class="margin-minus-top-30 pull-right">
                                    <a title="Click here to update delivery" class="js-postcode-checkout box-icon-title btn btn-primary btn-lg btn-block size-15" data-url="{{ path('delivery_calculator') }}" href="#">
                                        Update/Calculate Delivery <span class="fa fa-truck" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <label>Comments</label>
                                {{ form_row(formCheckoutDeliveryForm.comment,
                                {'value' : deliveryDetails['comment'] is defined ? deliveryDetails['comment'] : "" }
                                ) }}
                            </div>
                        </div>

                    </fieldset>
                    <!-- /BILLING -->
                </div>

                <div class="col-lg-5 col-sm-5">
                    <div class="heading-title">
                        <h4>Your Basket</h4>
                    </div>

                    <!-- TOTAL / PLACE ORDER -->
                    <div class="toggle-transparent toggle-bordered-full clearfix">
                        <div class="toggle active">
                            <div class="toggle-content">

                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Qty</th>
                                            <th class="text-right">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for basketProduct in basketDetails["basketProducts"] %}
                                            <tr>
                                                <td>{{ basketProduct['name'] }}</td>
                                                <td>{{ basketProduct['quantity'] }}</td>
                                                <td class="text-right">£{{ basketProduct['price']|number_format(2, '.', ',') }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="js-box-totals">
                                    <span class="clearfix">
                                                    <span class="pull-right">£{{ basketDetails["basketTotal"]|number_format(2, '.', ',') }}</span>
                                                    <strong class="pull-left">Subtotal:</strong>
                                                </span>
                                    <span class="clearfix">
                                                    <span class="pull-right">£{{ (basketDetails["basketTotal"] * 1.2 - basketDetails["basketTotal"])|number_format(2, '.', ',') }}</span>
                                                    <span class="pull-left">VAT:</span>
                                                </span>

                                    <hr />

                                    {% if basketDetails["deliveryAmount"] %}
                                        <span class="clearfix">
                                                    <span class="pull-right">£{{ basketDetails["deliveryAmount"]|number_format(2, '.', ',') }}</span>
                                                    <strong class="pull-left">Delivery Subtotal:</strong>
                                                </span>
                                        <span class="clearfix">
                                                        <span class="pull-right">£{{ (basketDetails["deliveryAmount"] * 1.2 - basketDetails["deliveryAmount"])|number_format(2, '.', ',') }}</span>
                                                        <span class="pull-left">Delivery VAT:</span>
                                                    </span>

                                        <hr />
                                    {% endif %}

                                    <span class="clearfix">
                                                {% if basketDetails["deliveryAmount"] %}
                                                    <span class="pull-right size-20">£{{ ((basketDetails["deliveryAmount"] + basketDetails["basketTotal"]) * 1.2)|number_format(2, '.', ',') }}</span>
                                                {% else %}
                                                    <span class="pull-right size-20">£{{ (basketDetails["basketTotal"] * 1.2)|number_format(2, '.', ',') }}</span>
                                                {% endif %}
                                        <strong class="pull-left">TOTAL:</strong>
                                        </span>
                                </div>

                                <hr />

                                <button type="submit" class="js-submit btn btn-primary btn-lg btn-block size-15"><i class="fa fa-mail-forward"></i> CHECKOUT AND REVIEW</button>
                            </div>
                        </div>
                    </div>
                    <!-- /TOTAL / PLACE ORDER -->
                </div>
                {{ form_row(formCheckoutDeliveryForm.email,
                {'value' : 'email@email.com' }
                ) }}
                {{ form_end(formCheckoutDeliveryForm) }}
                <!-- /CHECKOUT -->

                <form action="#" method="get" class="js-form-postcode nomargin hidden">

                    <div class="form-group">
                        <input title="postcode" type="text" name="postcode" id="postcode" required="" minlength="6" maxlength="8" class="form-control" value="">
                    </div>

                </form>

            </div>
        </section>
        <!-- /CART -->
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/frontend-client/js/custom/Delivery.js') }}"></script>
    <script src="{{ asset('assets/frontend-client/js/custom/Checkout.js') }}"></script>
    <script src="{{ asset('assets/frontend-client/js/custom/CheckoutDelivery.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            var $checkout = $('#checkout');

            var deliveryCalculation = new Delivery($checkout);
            var checkout = new Checkout($checkout);
            var checkoutDelivery = new CheckoutDelivery($checkout);
        });
    </script>

{% endblock %}