{% extends 'baseAdmin.html.twig' %}
{% block menu_catalogue_active %}class="active"{% endblock %}
{% block menu_categories_active %}class="active"{% endblock %}
{% block body %}
    <!-- page title -->
    <header id="page-header">
        <h1>Categories</h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('categories') }}">Categories</a></li>
            <li class="active">New Category</li>
        </ol>
    </header>
    <!-- /page title -->
    <div id="content" class="padding-20">
        <!--
                                PANEL CLASSES:
                                    panel-default
                                    panel-danger
                                    panel-warning
                                    panel-info
                                    panel-success

                                INFO: 	panel collapse - stored on user localStorage (handled by app.js _panels() function).
                                        All pannels should have an unique ID or the panel collapse status will not be stored!
                            -->
        <div id="category" class="panel panel-default">
            <div class="panel-heading">
                <strong class="center-text">New category</strong>
            </div>

            <!-- panel content -->
            <div class="panel-body">
                <div id="top-bar-action" class="alert alert-info margin-bottom-30 action-table">
                    <div id="status-change-ajax" class="pull-left col-md-3col-sm-6">
                    </div>
                    <div class="pull-right">
                        <button id="js-save-new-category" type="button" class="btn btn-success">Save new Category</button>
                    </div>
                </div>
            </div>
            <!-- /panel content -->

            <form name="category-form" method="get" id="category-form" action="{{ path('categories_new') }}" data-url="{{ path('categories_new') }}">

                <div class="col-md-6 top-space">

                    <!-- -- -->
                    <div id="main-details" class="panel panel-default">

                        <div class="panel-heading">

                        <span class="elipsis"><!-- panel title -->
                            <strong>Main Details</strong>
                        </span>

                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                            </ul>
                            <!-- /right options -->

                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="name" class="control-label required">Name*</label><input type="text" name="name" id="name" required="required" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <div id="description" class="form-group"><label class="control-label required">Description</label>
                                            <textarea class="summernote form-control" data-height="200" data-lang="en-US"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / -->

                </div>

                <div class="col-md-6 top-space">

                    <!-- -- -->
                    <div id="seo-details" class="panel panel-default">

                        <div class="panel-heading">

                        <span class="elipsis"><!-- panel title -->
                            <strong>SEO Details</strong>
                        </span>

                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                            </ul>
                            <!-- /right options -->

                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <span data-toggle="tooltip" title="If not entered, it will be self-generated"><label for="url" class="control-label required">URL Key</label><input type="text" name="url" id="url" class="form-control"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="metaTitle" class="control-label required">Meta Title</label>
                                        <div id="charNumTitle" class="pull-right"></div>
                                        <input type="text" name="metaTitle" id="metaTitle" maxlength="55" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="metaKeywords" class="control-label required">Meta Keywords</label><input type="text" name="metaKeywords" id="metaKeywords" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="metaDescription" class="control-label required">Meta Description</label>
                                        <div id="charNumDesc" class="pull-right"></div>
                                        <textarea name="metaDescription" id="metaDescription" rows="3" maxlength="160" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- / -->

                </div>

            </form>

            <div class="col-md-12">

                <!-- -- -->
                <div id="image-details" class="panel panel-default">

                    <div class="panel-heading">

                            <span class="elipsis"><!-- panel title -->
                                <strong>Image Details</strong>
                            </span>

                        <!-- right options -->
                        <ul class="options pull-right list-inline">
                            <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                            <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                        </ul>
                        <!-- /right options -->

                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <form name="image-form" id="image-form" method="post" enctype="multipart/form-data" data-url="{{ path('categories_image_save_new') }}" action="{{ path('categories_image_preview') }}">
                                        <div id="form" class="pull-left"><div class="form-group"><label class="control-label required" for="form_image">Product Image</label><input type="file" id="form_image" name="form[image]" required="required"></div>
                                            <input type="hidden" id="form__token" name="form[_token]" value="{{ csrf_token('authenticate') }}"></div>
                                        <button id="js-image-preview" type="submit" class="btn btn-success pull-right">Preview Image</button>
                                    </form>
                                    <div id="js-image-detail-preview"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / -->
            </div>

            <div class="col-md-12">

                <!-- -- -->
                <div id="allocated-products" class="panel panel-default">

                    <div class="panel-heading">

                    <span class="elipsis"><!-- panel title -->
                        <strong>Products Allocation</strong>
                    </span>

                        <!-- right options -->
                        <ul class="options pull-right list-inline">
                            <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                            <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                        </ul>
                        <!-- /right options -->

                    </div>


                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <div id="js-search" class="dataTables_custom">
                                        {{ knp_pagination_filter(products, {'prod.name' : 'Sort by Product Name'}) }}
                                    </div>
                                    <div id="js-table">
                                        <table class="table table-striped table-bordered table-hover table-responsive" id="datatable_sample">
                                            <thead>
                                            <tr>
                                                <th class="js-table-checkbox col-sm-1">
                                                    <input type="checkbox">
                                                </th>
                                                <th class="col-sm-1">ID</th>
                                                <th class="col-sm-3">Name</th>
                                                <th class="col-sm-1">SKU</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% for singleProduct in products %}
                                                <tr id="product-{{ singleProduct.id }}" class="odd gradeX">
                                                    <td class="option-item"><input type="checkbox" id="prod{{ singleProduct.id }}" name="products" value={{ singleProduct.id }}></td>
                                                    <td>{{ singleProduct.id }}</td>
                                                    <td>{{ singleProduct.name }}</td>
                                                    <td>{{ singleProduct.sku }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div id="nav-pages" class="navigation text-center">
                                            {{ knp_pagination_render(products) }}
                                        </div>
                                        <div id="js-products-list">
                                            <i>Allocated Products Selected (Save if altered):</i><br>
                                            {% for allocatedProductSelected in allocatedProductsSelected %}
                                                {% if allocatedProductSelected %}
                                                    <div class="alert alert-mini alert-info special-product margin-right-6"><!-- INFO -->
                                                        {{ allocatedProductSelected.id }} - {{ allocatedProductSelected.name }}
                                                        <a href="#" data-id="{{ allocatedProductSelected.id }}" class="btn btn-link nopadding-right js-remove-allocated-product">
                                                            <span class="fa fa-close"></span>
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- / -->

            </div>

        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/backend-client/js/custom/NewViewCatProd.js') }}"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            var $category = $('#category');

            var newViewCatProd = new NewViewCatProd($category);
        });

        $(window).scroll(function () {

            if ($(window).scrollTop() > 150) {

                $('#top-bar-action').addClass('navbar-fixed-top');
            } else {

                $('#top-bar-action').removeClass('navbar-fixed-top');
            }
        });

        $(window).unload(function() {

            localStorage.clear();
        });

        localStorage.setItem('finalValue', []);

    </script>

{% endblock %}
